

<div class="card" *ngFor="let j of othersTweets" style="margin: 20px;">
    <div *ngFor="let i of userInfo">
    <div class="card-header">
        <div class="d-flex">
            
            <h5>{{i.first_name |titlecase}} {{i.last_name | titlecase}}</h5>
            <div class="ml-auto">
                {{i.createdAt | date:'medium'}}
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <h5 class="card-title">{{j.tweetTag}}</h5>
        <p class="card-text"><i class="fas fa-2x fa-quote-left"></i> &nbsp; {{j.tweetDescription}}</p>
                   
                 
        <div class="d-flex">          
            <a class="viewcomments" [routerLink]="['/user-dashboard/tweet', j.tweetId]"> <i class="far fa-thumbs-up"></i> </a> {{j.likesCount}}

                        
            <div class="ml-auto">
                 <a class="viewcomments" [routerLink]="['/user-dashboard/tweet', j.tweetId]"><i class="far fa-comment"></i></a> {{j.commentsCount}}
            </div>
        </div>
    </div>

    </div>
</div>



